---
import HeroBanner from "@/components/about/HeroBanner.astro";
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import Base from "@/layouts/BaseLayout.astro";
---

<Base>
  <NavBar />
  <HeroBanner />
  <div class="main-container">
    <div class="transition-leaving w-full space-y-8">
      <main class="content onload-animation">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</Base>

<style>
  @reference "../../styles/global.css";
  .main-container {
    @apply w-full md:min-w-[80%] md:max-w-[80%] lg:min-w-[var(--page-width-lg)] lg:max-w-[var(--page-width-lg)] xl:min-w-[var(--page-width-xl)] xl:max-w-[var(--page-width-xl)];
    @apply md:mx-auto;
  }

  .side-bar {
    @apply hidden min-w-[248px] xl:block;
  }

  .content {
    @apply xl:w-[calc(var(--page-width-xl)-264px)];
  }
</style>
