---
import ExperienceSection from "@/components/about/ExperienceSection.astro";
import HeroBanner from "@/components/about/HeroBanner.astro";
import SkillsSection from "@/components/about/SkillsSection.astro";
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import Base from "@/layouts/BaseLayout.astro";
---

<Base>
  <NavBar />
  <HeroBanner />
  <div class="transition-leaving w-full space-y-8">
    <main class="onload-animation">
      <ExperienceSection />
      <SkillsSection />
      <Footer />
    </main>
  </div>
</Base>
