@reference "./global.css";

.onload-animation {
  opacity: 1;
}

.onload-animation-fade-in {
  opacity: 0;
  animation: 300ms ease-in forwards fade-in;
}

@media (prefers-reduced-motion: reduce) {
  .onload-animation-fade-in {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
