---
import { getLangFromUrl } from "@/i18n/utils";
import Config from "website.config";
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <BaseHead title={Config.title} description={Config.description} />
  </head>
  <body class="overflow-y-hidden">
    <NavBar />
    <main class="transition-leaving">
      <slot />
    </main>
  </body>
</html>

<style>
  @reference "../styles/global.css";
  body {
    @apply bg-[var(--background-color)];
  }
</style>
